/*.content img {*/
/*    width: 80%;*/
/*    height: 150px;*/
/*    align-items: center;*/
/*    opacity: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border-radius: 20px;*/
/*    border-style: solid;*/
/*    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);*/
/*}*/

.pic {
    display: inline-flex;
    justify-content: space-evenly;
    max-width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

.item {
    color: blue;
    width: 100%;
}