/*.App {
  text-align: center;
} */
.app-wrapper {
  display: grid;
  width: 100%;

  grid-template-areas:
  "header-grid header-grid"
  "nav-grid content-grid";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header {
  grid-area: header-grid;
  background-color: #004d4d;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 6px;
  margin: 0;
}

.header img {
  width: 80px;
  margin-left: 30px;
  border-radius: 30px;
}

.navbar {
  grid-area: nav-grid;
  background-color: lightgrey;
  border-color: #004d4d;
  width: 100%;
}

.navbar a {
  color: #004d4d;

}

.content {
  grid-area: content-grid;
  background-color: steelblue;
  width: 100%;
}

.content img {
  max-width: 100%;
  height: auto;
}
