* {
  background-color: #f2f2f2;
}


.app-wrapper {
  display: grid;
  margin: auto;
  width: 80vw;
  height: 80vh;
  border: 3px grey;
  padding: 0 30px 0 30px;
  background-color: #f2f2f2;
  align-content: center;


  grid-template-areas:
  "header-grid header-grid"
  "nav-grid content-grid";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1em;
}

.app-wrapper-content {
  background-color: white;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}








